page-login {

    .bg-image{
        background-image: url('../assets/imgs/fundovem4.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2000px;
    }
    ion-segment-button:hover { 
        text-shadow:
               0px 0px 10px #1f0,
               0px 0px 10px #1f0,
               0px 0px 10px #1f0,
               0px 0px 10px #1f0;

       
    }

    ion-segment{
        margin-top: -50px;
    }

    .branco{
        color: #fff;
    }

    ion-list{
        text-align: center;
    }

    .logo{
        margin-left: 5px;
    }
    ion-input {
		margin-bottom: 20px;
		background: #111424;
        border: medium none;

		 .text-input {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
        } 
        
        box-shadow:
        0px 0px 5px rgb(255, 113, 220),
      

    }

    .button{
        margin-top: 15px;

        box-shadow:
        0px 0px 10px rgb(94, 250, 80),
        0px 0px 20px  rgb(94, 250, 80),
        0px 0px 10px  rgb(94, 250, 80),   
    }

}
